body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);
}
body h1 {
  color: #36455a1c;
  text-align: center;
  font-family: sans-serif;
  font-size: 65px;
  width: 100%;
  height: 55px;
  text-shadow: 4px 2px 6px rgba(136, 165, 191, 0.48), -4px -2px 6px #FFFFFF;
}
body #slider1, body #slider2 {
  width: 600px;
  height: max-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body #slider1 img, body #slider2 img {
  width: 400px;
  height: 200px;
  transition: 2s;
  box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(247, 251, 255, 0.5), 3px 3px 8px 2px rgba(0, 0, 0, 0) inset, -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
  border-radius: 7px;
}
body #slider1 button, body #slider2 button {
  display: flex;
  justify-content: center;
  position: relative;
  width: 30px;
  height: 25px;
  margin: 20px;
  border: none;
  background: transparent;
  outline: none;
}
body #slider1 button:active .arrow, body #slider2 button:active .arrow {
  width: 100%;
}
body #slider1 button:active .arrow.right:before, body #slider1 button:active .arrow.right:after, body #slider1 button:active .arrow.left:before, body #slider1 button:active .arrow.left:after, body #slider2 button:active .arrow.right:before, body #slider2 button:active .arrow.right:after, body #slider2 button:active .arrow.left:before, body #slider2 button:active .arrow.left:after {
  background-color: dimgrey;
}
body #slider1 button .arrow, body #slider2 button .arrow {
  width: 100%;
}
body #slider1 button .arrow.right:before, body #slider2 button .arrow.right:before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-color: #7a7a7a;
  transform: rotate(45deg);
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  z-index: -1;
}
body #slider1 button .arrow.right:after, body #slider2 button .arrow.right:after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  background-color: #7a7a7a;
  transform: rotate(-45deg);
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  z-index: -1;
}
body #slider1 button .arrow.left:before, body #slider2 button .arrow.left:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #7a7a7a;
  transform: rotate(-45deg);
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  z-index: -1;
}
body #slider1 button .arrow.left:after, body #slider2 button .arrow.left:after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #7a7a7a;
  transform: rotate(45deg);
  width: 100%;
  height: 8px;
  box-sizing: border-box;
  display: block;
  float: right;
  border-radius: 10px 6px 6px 10px;
  z-index: -1;
}
body #slider1 .disabled, body #slider2 .disabled {
  visibility: hidden;
}
body #slider1 .indicators, body #slider2 .indicators {
  display: flex;
  justify-content: center;
}
body #slider1 .indicators *, body #slider2 .indicators * {
  transition: all 0.2s;
}
body #slider1 .indicators div, body #slider2 .indicators div {
  background: grey;
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
}
body #slider1 .indicators div.active, body #slider2 .indicators div.active {
  border-radius: 12px;
  background: yellowgreen;
  width: 25px;
}

/*# sourceMappingURL=main.css.map */
