@import url("../fonts/Seconda/stylesheet.css");
body {
  background: linear-gradient(90deg, #313540 0%, #161616 35%);
  color: white;
  position: relative;
}
body .plate {
  position: absolute;
  right: 0;
  height: 100%;
}
body header {
  width: 100%;
  padding: 10px 5% 10px;
  display: flex;
  align-items: center;
}
body header .navbar {
  height: 10vh;
}
body header .navbar .navbar-brand a {
  color: #f3c341;
  font-size: 27px;
  font-weight: 700;
  margin-right: 5rem;
}
body header .navbar #navbar .nav-link {
  font-weight: 500;
  font-size: 18px;
  color: #efc137;
  text-decoration: none;
  margin: 0 40px;
}
body main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 5% 0;
  height: 90vh;
}
body main .row {
  width: 100%;
  display: flex;
}
body main .row .contentTop {
  color: white;
  font-weight: bold;
  font-family: "Seconda Round", sans-serif;
}
body main .row .contentTop h1 {
  font-size: 150px;
}
body main .row .contentTop h2 {
  font-style: italic;
}
body main .row .contentTop h3 {
  color: #ffbe00;
  font-weight: 400;
  font-style: italic;
}
body main .row .contentTop button {
  width: 170px;
  background: transparent;
  height: 50px;
  border-radius: 50px;
  border: 3px solid white;
  color: white;
  font-size: 18px;
  margin: 51px 0 0 0;
  font-weight: 500;
}
body main .row .contentBottom {
  align-self: flex-end;
}
body main .row .contentBottom .slider .sliderItem {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
body main .row .contentBottom .slider .sliderItem img {
  float: left;
  position: absolute;
  left: 0;
}
body main .row .contentBottom .slider .sliderItem h5 {
  float: right;
  width: 52%;
}
body main .row .contentBottom .slider .sliderItem p {
  float: right;
  font-size: 15px;
  width: 52%;
  text-align: justify;
}
body main .row .contentBottom .slider .contr {
  color: black;
  background: #ffbf00;
  width: 40px;
  font-size: 28px;
}
body main .row .contentBottom .slider .contr:nth-of-type(1) {
  left: -50px;
}
body main .row .contentBottom .slider .contr:nth-of-type(2) {
  right: -50px;
}
body main .row .contentBR {
  display: flex;
  flex-wrap: wrap;
}
body main .row .contentBR h5 {
  width: 100%;
  color: black;
  font-weight: bold;
}
body main .row .contentBR span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-right: 5px;
  font-size: 30px;
  color: black;
  font-weight: bold;
  position: relative;
}
body main .row .contentBR span::before {
  content: "";
  width: 41px;
  height: 41px;
  position: absolute;
  border: 2px solid white;
}
body main .row .contentBR p {
  width: 80%;
  display: block;
  color: black;
  font-weight: lighter;
}
body .social-links {
  position: fixed;
  top: 35%;
  right: 0;
  width: 50px;
  text-align: center;
  height: 270px;
  border-radius: 13px 0 0 13px;
  background: #ffffff;
}
body .social-links a {
  display: block;
  font-family: FontAwesome, sans-serif;
  font-size: 30px;
  color: black;
  margin-bottom: 30px;
  text-underline: none;
  outline: none;
  text-decoration: none;
}
body .social-links a:hover {
  color: #ffbf00;
  text-underline: none;
}

/*# sourceMappingURL=main.css.map */
