$color-blue: #084f93;
$color-blue-transparent-50: rgba(8, 79, 147, 0.5);
$color-darkblue: #0e1f2e;
$color-darkestblue: #011426;
$color-yellow: #f0d45a;
$color-yellow-transparent-50: rgba(240, 212, 90, 0.5);
$color-black-transparent-30: rgba(0, 0, 0, 0.3);
$color-black-transparent-15: rgba(0, 0, 0, 0.15);
$color-gray: #e5e5e5;
