@import "colors";
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

main {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;

    @media (max-width: 768px) {
      height: 135px;
    }

    @media (max-width: 540px) {
      height: 135px;
    }
  }

  .section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .form-wrapper {
      width: 440px;
      height: auto;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;

      @media (max-width: 540px) {
        width: 230px;
        padding: 10px 20px 10px 20px;
      }

      h1 {
        width: 100%;
        color: $color-blue;
        text-align: center;
        margin: 0 0 10px 0;

        @media (max-width: 540px) {
          font-size: 18px;
        }
      }

      .reg-form {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        input {
          height: 45px;
          width: 100%;
          border: 1px solid $color-yellow;
          border-radius: 20px;
          margin: 10px 0 10px 0;
          padding: 0 0 0 20px;

          @media (max-width: 540px) {
            height: 35px;
          }

          &::placeholder {
            font-family: FontAwesome, sans-serif;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
            color: $color-blue;
            font-size: 12px;
            line-height: 14px;
            outline: none;
          }

          &:focus {
            outline: none;
          }
        }

        img {
          margin: 10px 0 10px 0;
        }

        .btn {
          //display: block;
          width: 100%;
          height: 45px;
          background: $color-blue;
          box-shadow: 0 1px 10px $color-blue-transparent-50;
          border-radius: 20px;
          font-size: 22px;
          line-height: 26px;
          color: $color-yellow;
          border: none;
          outline: none;
        }
      }
    }
  }
}
