@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic");
@import "//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "colors";
@import "header";
@import "forms";
@import "anonymous-game";
@import "banners";
@import "footer";
@import "Tournament";
@import "tournament-result";
@import "create-tournament";
@import "backgammon";
@import "checkers";

* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  box-shadow: 0 10px 20px $color-black-transparent-30;
  width: 770px;
  margin: 0 auto;

  @media (max-width: 768px) {
    width: 500px;
  }

  @media (max-width: 540px) {
    width: 280px;
  }
}

.content-big {
  box-shadow: 0 10px 20px $color-black-transparent-30;
  width: 1000px;
  margin: 50px auto;

  @media (max-width: 768px) {
    width: 650px;
  }

  @media (max-width: 540px) {
    width: 280px;
  }
}

.eng,
.ru {
  display: none;
}

#eng-sw.visible,
#eng-sw-mb.visible,
#ru-sw-mb.visible,
#ru-sw.visible {
  background: $color-yellow;
  color: $color-blue;
}
