body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(318.32deg, #C3D1E4 0%, #DDE7F3 55%, #D4E0ED 100%);

  h1 {
    color: #36455a1c;
    text-align: center;
    font-family: sans-serif;
    font-size: 55px;
    width: 100%;
    height: 55px;
    text-shadow: 4px 2px 6px rgba(136, 165, 191, 0.48), -4px -2px 6px #FFFFFF;
  }

  #slider1, #slider2 {
    width: max-content;
    height: max-content;
    margin: 50px auto;
    display: flex;
    align-items: center;

    img {
      width: 400px;
      height: 200px;
      transition: 2s;
      box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.1), -3px -3px 3px 3px rgba(247, 251, 255, 0.5), 3px 3px 8px 2px rgba(0, 0, 0, 0) inset, -3px -3px 7px 2px rgba(247, 251, 255, 0) inset;
      border-radius: 7px;
    }

    button {
      display: flex;
      justify-content: center;
      position: relative;
      width: 50px;
      height: 50px;
      margin: 20px;
      border: none;
      background: transparent;
      outline: none;

      svg {
        position: absolute;
        fill: #ffed00;
        filter: drop-shadow(2px 4px 4px #88a5bf99);

        &:first-of-type {
          filter: drop-shadow(-3px -2px 3px #ffffff99);
        }
      }

    }

    .disabled {
      svg {
        fill: #0000004a;
        filter: drop-shadow(2px 4px 4px #88a5bf99);

        &:first-of-type {
          filter: drop-shadow(-3px -2px 3px #ffffff99);
        }

      }
    }
  }

}